<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bizzome Page</title>
  </head>
  <body>
    <h1>Hi I'm Bizzo, a software developer!!</h1>
    <p>Let's make some real noise in the web.</p>
    {{ message }}
  </body>
</html>
